<div class="d-flex justify-content-evenly align-items-center h-75">
  <img class="img-fluid d-none d-lg-block" src="assets/img/login.svg" alt="imagem-login" width="50%" height="20px">
  <div>
    <h1>Login</h1>

    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="login.email" id="email" type="email" class="form-control" />
    </div>

    <div class="form-group mt-2">
      <label for="senha">Senha</label>
      <input [(ngModel)]="login.senhaV" id="senha" type="password" class="form-control" />
    </div>
    
    <div class="form-row mt-3">
      <button (click)="logar()" class="btn btn-primary">Entrar</button>

      <button routerLink="/home" class="btn btn-secondary ms-5">Voltar para a página inicial</button>
    </div>
    
    <h3>{{mensagem}}</h3>

  </div>
</div>