<div class="container my-5 col-8">
    <h1>Atualizar dados do usuário</h1>
    <hr>
  
    <div > 
      <div class="form-group" >
        <label for="nome">Nome</label>
        <input [(ngModel)]="usuarioAtual.nome"  id="nome" type="nome" class="form-control"/>
      </div>

      <div class="form-group" >
        <label for="email">E-mail</label>
        <input [(ngModel)]="usuarioAtual.nome"  id="email" type="email" class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="Senha">Senha</label>
        <input [(ngModel)]="usuarioAtual.senhaV" id="senha" type="password" class="form-control" />
      </div>  
  
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input [(ngModel)]="usuarioAtual.cpf" id="cpf" type="text" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input [(ngModel)]="usuarioAtual.telefone" for id="telefone" type="text" class="form-control" />
      </div>

      <div class="mt-4">
        <button (click)="update()" class="btn btn-primary ">Atualizar</button>
    
        <a routerLink="/home" class="btn btn-secondary ms-5">Voltar para a página inicial</a>
      </div>
    </div>
  </div>
  
