<div class="container my-5 col-8">
    <h1>Atualizar dados do usuário</h1>
    <hr>
  
    <div > 
      <div class="form-group" >
        <label for="nome">Nome</label>
        <input [(ngModel)]="usuarioAtual.nome"  id="nome" type="nome" class="form-control"/>
      </div>

      <div class="form-group" >
        <label for="email">E-mail</label>
        <input [(ngModel)]="usuarioAtual.email"  id="email" type="email" class="form-control"/>
      </div>
    
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input [(ngModel)]="usuarioAtual.cpf" id="cpf" type="text" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input [(ngModel)]="usuarioAtual.telefone" for id="telefone" type="text" class="form-control" />
      </div>

      <div class="mt-3 d-flex justify-content-between">
        <button (click)="voltarPaginaAnterior()" class="btn btn-secondary">Cancelar</button>
        <button (click)="update()" class="btn btn-primary button-update">Atualizar</button>
        </div>
    </div>
  </div>
  
