<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>nome</th>
      <th>email</th>
      <th>senha</th>
      <th>telefone</th>
      <th>cpf</th>
      <th>tipo</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuarios of usuario ">
      <td>{{ usuarios.id_usuario }}</td>
      <td>{{ usuarios.nome }}</td>
      <td>{{ usuarios.email }}</td>
      <td>{{ usuarios.senha }}</td>
      <td>{{ usuarios.telefone }}</td>
      <td>{{ usuarios.cpf }}</td>
      <td>{{ usuarios.tipo }}</td>
    </tr>
  </tbody>
</table>
