<div class="container">
  <h1 class="mb-5 text-center text-dark">Painel Voluntário</h1>

  <h4 class="mt-5 text-dark">Escolha uma solicitação para ajudar</h4>
  <table class="table table-borderless table-hover align-middle shadow">
    <thead class="text-light bg-dark">
      <tr>
        <th >Nome</th>
        <th >Serviço</th>
        <th >Estado</th>
        <th >Cidade</th>
        <th >Dia do serviço</th>
        <th ></th>
      </tr>
    </thead>

    <tbody>
      <ng-container  *ngFor="let items of solicitacaoAbertas">
        <tr>
          <th>{{items.usuarios[0].nome}}</th>
          <th>{{items.servico}}</th>
          <th>{{items.usuarios[0].endereco.estado}}</th>
          <th>{{items.usuarios[0].endereco.cidade}}</th>
          <th>{{items.dia | date: 'dd/MM/yyyy'}}</th>
          <th class="text-end">
            <a (click)="escolherSolicitacao(items.id_solicitacoes)" class="btn text-light bg-dark">Escolher</a>
          </th>
        </tr>

        <tr class="">
          <th class="table-active">Decrição do problema: </th> 
          <th colspan="5" class="table-active" >
            <p>{{items.descricao_problema}}</p>
          </th> 
        </tr>

         <tr class="bg-dark"><td colspan="6"></td></tr>
      
    </ng-container>
    </tbody>
  </table>

  <h4 class="mt-5 text-dark">Solicitações em Andamento</h4>
  <div>
  <table id="tabela-andamento" class="table table-borderless table-hover shadow">
    <thead class="text-light bg-dark">
      <tr>
        <th >Nome</th>
        <th >Serviço</th>
        <th >Estado</th>
        <th >cidade</th>
        <th >Dia do serviço</th>
        <th >Telefone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <ng-container  *ngFor="let items of solicitacaoAndamento">
        <ng-container  *ngFor="let item2 of items.solicitacoes">
        <tr>
          <th>{{item2.usuarios[0].nome}}</th>
          <th>{{item2.servico}}</th>
          <th>{{item2.usuarios[0].endereco.estado}}</th>
          <th>{{item2.usuarios[0].endereco.cidade}}</th>
          <th>{{item2.dia | date: 'dd/MM/yyyy'}}</th>
          <th>{{item2.usuarios[0].telefone}}</th>
          <th>{{item2.usuarios[0].email}}</th>
          <th class="text-end">
            <a (click)="cancelarSolicitacao(item2.id_solicitacoes)" class="btn btn-danger">Cancelar</a>
          </th>
        </tr>

        <tr class="table-active">
          <th class="table-active">Decrição do problema: </th> 
          <th colspan="7" >
            <p>{{item2.descricao_problema}}</p>
          </th> 
        </tr>

         <tr class="bg-dark"><td colspan="8"></td></tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>


  <h4 class="mt-5 text-dark">Solicitações Concluidas</h4>
  <table class="table table-borderless table-hover shadow">
    <thead class="text-light bg-dark">
      <tr>
        <th >Nome</th>
        <th >Serviço</th>
        <th >Data Final</th>
        <th >Dia do Serviço</th>
        <th >Telefone</th>
        <th >Nota</th>
      </tr>
    </thead>

    <tbody>
      <ng-container  *ngFor="let items of solicitacoesConcluidas">
        <ng-container  *ngFor="let item2 of items.solicitacoes">
        <tr>
          <th>{{item2.usuarios[0].nome}}</th>
          <th>{{item2.servico}}</th>
          <th>{{item2.data_encerramento | date: 'dd/MM/yyyy'}}</th>
          <th>{{item2.dia | date: 'dd/MM/yyyy'}}</th>
          <th>{{item2.usuarios[0].telefone}}</th>
          <th>{{item2.nota}}</th>
        </tr>

        <tr class="table-active">
          <th class="table-active">Decrição do problema: </th> 
          <th colspan="5" >
            <p>{{item2.descricao_problema}}</p>
          </th> 
        </tr>

         <tr class="bg-dark"><td colspan="6"></td></tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>

</div>
