<br />
<div class="container">
  <h1 class="h1">"Seja Bem Vindo !"</h1>
</div>
<div class="container">
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        obcaecati neque. Perferendis explicabo beatae dolorem maiores, similique
        itaque facere quo ea non, vitae voluptates iusto laboriosam, hic error
        natus autem?
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Autor <cite title="Source Title">Voluntarios</cite>
    </figcaption>
  </figure>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error commodi,
        corrupti facilis atque labore libero deleniti. Expedita pariatur nulla
        nisi, non iste illo sed rem deleniti autem. Reprehenderit, unde
        accusantium!
      </p>
      <a href="#" class="btn btn-primary btnSo">Registrar Como Solicitante </a>
    </div>
    <div class="col-md-6 align-self-center text-center">
      <img
        class="img-fluid"
        src="assets/img/pis.png"
        alt="registrar como Solicitante"
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center text-center">
      <img
        class="img-fluid"
        src="assets/img/piv.png"
        alt="registrar como Voluntario"
      />
    </div>
    <div class="col-md-6 align-self-center">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error commodi,
        corrupti facilis atque labore libero deleniti. Expedita pariatur nulla
        nisi, non iste illo sed rem deleniti autem. Reprehenderit, unde
        accusantium!
      </p>
      <a href="#" class="btn btn-primary btnSo">Registrar Como Voluntario </a>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="card sobre">
    <div class="card-header">Sobre</div>
    <div class="card-body conteudosobre">
      <h5 class="card-title">Sobre Nossa Empresa</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quasi
        fugit libero eligendi, aperiam quibusdam quae error quisquam cum tempora
        commodi maiores dolore adipisci consectetur perferendis consequatur amet
        voluptatum enim!
      </p>
    </div>
  </div>
</div>

<footer id="rodape">
<div class="footer">
  <h5>contato@voluntarios.com</h5>
</div>
</footer>

