<br />
<div class="container">
  <h1 class="h1">"Seja Bem Vindo !"</h1>
</div>
<div class="container">
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        obcaecati neque. Perferendis explicabo beatae dolorem maiores, similique
        itaque facere quo ea non, vitae voluptates iusto laboriosam, hic error
        natus autem?
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Autor <cite title="Source Title">Voluntarios</cite>
    </figcaption>
  </figure>
</div>
<div class="container"></div>
