<nav
  class="navbar navbar-expand-md fixed-top navbar-dark"
  style="background-color: #000080"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#/home">
      <img src="assets/img/logo1.png" alt="logo" width="" height="50" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <form class="d-md-flex justify-content-md-end">
        <button class="btn btn-outline-light button" type="submit">
          Entrar
        </button>
      </form>
    </div>
  </div>
</nav>
<div class="teste">testes</div>
