<!-- modal -->
<div class="modal fade" id="criarSolicitacaoModal" tabindex="-1" aria-labelledby="criarSolicitacaoLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="criarSolicitacaoLabel">Nova solicitação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="novaSolicitacaoForm">
          <div class="form-group">
            <label for="servico">Profissional voluntário</label>
            <select id="servico" type="text" class="form-select" formControlName="servico"
              [ngClass]="{'is-invalid': sf.servico.errors && sf.servico.touched}">
              <option selected disabled>Selecione um tipo de voluntário</option>
              <option value="Babá">Babá</option>
              <option value="Cuidador de Pets">Cuidador de Pets</option>
              <option value="Diarista">Diarista</option>
              <option value="Eletricista">Eletricista</option>
              <option value="Encanador">Encanador</option>
              <option value="Mecânico">Mecânico</option>
              <option value="Pedreiro">Pedreiro</option>
              <option value="Personal Organizer">Personal Organizer</option>
              <option value="Professor">Professor</option>
              <option value="Tecnico em informática">Técnico em informática</option>
              <option value="Outro">Outro</option>
            </select>

            <div *ngIf="sf.servico.errors?.required" class="invalid-feedback">Escolha um</div>
          </div>

          <div class="form-group">
            <label for="data">Dia do serviço:</label>
            <input id="data" type="date" class="form-control" formControlName="dia"
              [ngClass]="{'is-invalid': sf.dia.errors && sf.dia.touched}" />

            <div *ngIf="sf.dia.errors?.required" class="invalid-feedback">Dia do serviço é obrigatório</div>
          </div>

          <div class="form-group">
            <label for="descricao">Descrição do problema</label>
            <textarea id="data" type="text" formControlName="descricao_problema" class="form-control"
              [ngClass]="{'is-invalid': sf.descricao_problema.errors && sf.descricao_problema.touched}">
            </textarea>

            <div *ngIf="sf.descricao_problema.errors?.required" class="invalid-feedback">Descreva seu problema</div>
            <div *ngIf="sf.descricao_problema.errors?.maxlength" class="invalid-feedback">Máximo de 200 caracteres</div>
            <div *ngIf="sf.descricao_problema.errors?.minlength" class="invalid-feedback">Mínimo de 10 caracteres</div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger ms-2" data-bs-dismiss="modal">Cancelar</button>
        <button (click)="criarSolicitacao()" [disabled]="novaSolicitacaoForm.invalid" type="button"
          class="btn text-light bg-dark" data-bs-dismiss="modal">Salvar
          solicitação</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

<div class="container">
  <h1 class=" text-center text-dark">Painel Solicitante</h1>

  
  <div class="text-end">
    <button class="btn text-light bg-dark" data-bs-toggle="modal" data-bs-target="#criarSolicitacaoModal">
      Criar solicitação
    </button>
  </div>
  <h4 class=" text-dark">Solicitações Criadas</h4>
  <table id="tabela-criadas" class="table table-borderless table-hover shadow">
    <thead class="text-light bg-dark">
      <tr>
        <th>Serviço</th>
        <th>Dia do serviço</th>
        <th>Problema</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let items of solicitacoesCriadas; let i = index">
        <tr>
          <th>{{items.servico}}</th>
          <th>{{items.dia | date: 'dd/MM/yyyy'}}</th>
          <th>{{items.descricao_problema}}</th>

          <th colspan="2" class="text-end">
            <a (click)="cancelarSolicitacao(items.id_solicitacoes)" class="btn btn-danger ms-2">Cancelar solicitação</a>
          </th>
        </tr>

        <tr class="bg-dark">
          <td colspan="8"></td>
        </tr>

      </ng-container>
    </tbody>
  </table>

  <h4 class="mt-5 text-dark">Solicitações Aceitas</h4>
  <div>

    <table id="tabela-andamento" class="table table-borderless table-hover shadow">
      <thead class="text-light bg-dark">
        <tr>
          <th>Voluntário</th>
          <th>Telefone</th>
          <th>Serviço</th>
          <th>Dia Serviço</th>
          <th>Criado em </th>
          <th>Atribua uma nota</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let items of solicitacoesAbertas">
          <ng-container *ngFor="let item2 of items.solicitacoes">
            <tr>
              <th>{{item2.usuarios[0].nome}}</th>
              <th>{{item2.usuarios[0].telefone}}</th>
              <th>{{item2.servico}}</th>
              <th>{{item2.dia | date: 'dd/MM/yyyy'}}</th>
              <th>{{item2.data_criacao | date: 'dd/MM/yyyy'}}</th>
              <th>
                <div class="form-group d-flex">
                  <select [(ngModel)]="notaSolicitacao" id="nota" type="number" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <a (click)="concluirSolicitacao(item2.id_solicitacoes)" class="btn text-light bg-dark">Concluir</a>
                </div>
                
              </th>

              
              <th colspan="2" class="text-end">
                
                <a (click)="cancelarSolicitacao(item2.id_solicitacoes)" class="btn btn-danger ms-2">Cancelar</a>
              </th>
            </tr>

            <tr class="bg-dark">
              <td colspan="8"></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>


    <h4 class="mt-5 text-dark">Solicitações Concluidas</h4>
    <div>
      <table id="tabela-andamento" class="table table-borderless table-hover shadow">
        <thead class="text-light bg-dark">
          <tr>
            <th>Voluntário</th>
            <th>Serviço</th>
            <th>Dia do Serviço</th>
            <th>Criado em</th>
            <th>Data final</th>
            <th>Avaliação</th> <!-- estrelinhas -->

            <th></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let items of solicitacoesConcluidas">
            <ng-container *ngFor="let item2 of items.solicitacoes">
              <tr>
                <th>{{item2.usuarios[0].nome}}</th>
                <th>{{item2.servico}}</th>
                <th>{{item2.dia | date: 'dd/MM/yyyy'}}</th>
                <th>{{item2.data_criacao | date: 'dd/MM/yyyy'}}</th>
                <th>{{item2.data_encerramento | date: 'dd/MM/yyyy'}}</th>
                <th>{{item2.nota}}</th>
              <tr class="bg-dark">
                <td colspan="8"></td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
